*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    color: white;
    font-weight: 600;
}

/* Utility class */
.regular-txt{
    font-weight: 400;
}

/* Background image */
body{
    width: 100%;
    height: 100dvh;
    background: url('assets/bg.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Background image blur */
body::before{
    content: '';
    width: 100%;
    height: 100dvh;
    position: absolute;
    background: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

/* Weather app */
.main-container {
    height: 500px;
    width: 350px;
    z-index: 1;
    border-radius: 15px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.15),rgba(255, 255, 255, 0.15) );
    backdrop-filter: blur(100px);
    padding: 20px;
}

/* Input container */
.input-container{
    position: relative;
    margin-bottom: 25px;
}

/* Input box */
.input-box{
    width: 100%;
    padding: 10px 20px;
    padding-right: 45px;
    font-size: 15px;
    border: 2px solid transparent;
    outline: none;
    border-radius: 100px;
    background-color: rgb(0, 0, 0,0.15);
    color: white;
    transition: 0.25s border;
}

.input-box::placeholder{
    color: rgb(255,255,255,0.75);
}

.input-box:hover{
    border: 2px double rgb(43, 43, 43);
}

/* Search icon */
.search-icon{
    position: absolute;
    right: 15px;
    top: 50%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transform: translateY(-45%);
}

/* Weather Info Container */
.weather-info{
  
}

/* Location Date Container */
.location-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Location Container */
.location-container{
    display: flex;
    align-items: center;
    gap: 5px;
}